.card-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-blue-800);
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-blue-700);
    line-height: 1.5;
}

li {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-blue-700);
}

label {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-blue-700);
}

.card-label-text {
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--color-red);
}

.card-title-success {
    font-size: 2.2rem;
    margin-top: 1rem;
}

.card-text-success {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
