* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 81.25%;
    font-family: "Barlow Semi Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 90%;
    margin: auto 0;
}

.name-text {
    font-size: larger;
    font-weight: 500;
}

.testimonial-text {
    font-size: 1.4rem;
    font-weight: 600;
}

.quote-text {
    font-size: 1rem;
    line-height: 1.6rem;
}
